.action-button {
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3040c4;
  color: #fff;
  border-radius: 2px;
  border: none;
}
.action-button:hover {
  cursor: pointer;
}

.learn-btn {
  width: 158px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
  border: none;
  background-color: #fff;
}
.learn-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    display: flex;
    margin: auto;
    background-color: #f3c6bd;
    width: 1140px;
    height: 62px;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  height: 100%;
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  display: inline-block;
}
.header .logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header .logo__description {
    display: block;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item {
  margin-right: 50px;
  font-size: 18px;
  line-height: 25px;
  color: #2b292d;
  text-decoration: none;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  display: inline-block;
  margin-left: 11px;
  height: 5px;
  width: 8px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
}

.logo {
  display: flex;
}
.logo__image {
  margin-right: 13px;
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    margin-right: 15px;
    width: 60px;
    height: 60px;
  }
}
.logo__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    padding-top: 39px;
    background-color: #f3c6bd;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
    width: 1140px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    margin: 0;
    z-index: 1;
  }
}
.headline__title {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    display: flex;
    margin-top: 58px;
  }
}
.headline__learn-btn {
  margin-top: 15px;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .headline__learn-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}
.headline__learn-btn:hover {
  cursor: pointer;
}
.headline__banner {
  margin-bottom: 36px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    margin-left: auto;
    width: 796px;
    height: 448px;
    right: -105px;
    top: 0;
  }
}
@media screen and (max-width: 1399px) {
  .headline__action-btn {
    width: 100%;
  }
}

.audience {
  padding: 0 15px 50px 15px;
  background-color: rgba(0, 161, 198, 0.0705882353);
}
@media screen and (min-width: 1400px) {
  .audience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 0;
    align-items: center;
  }
}
.audience__info {
  padding-top: 50px;
}
@media screen and (min-width: 1400px) {
  .audience__info {
    margin-top: 58px;
    width: 555px;
  }
}
.audience__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
}
.audience__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__description {
  margin: 0;
  margin-top: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience__description {
    margin-top: 30px;
  }
}
.audience__actions {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .audience__actions {
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
  }
}
.audience__proposal {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .audience__proposal {
    flex-direction: row;
    justify-content: space-between;
    margin: 111px 130px 110px 130px;
    width: 1139px;
  }
}
.audience__proposal .proposal {
  margin-bottom: 15px;
  height: 300px;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .audience__proposal .proposal {
    margin: 0;
    width: 262px;
  }
}
.audience__proposal .proposal:last-child {
  margin-bottom: 0;
}
.audience__proposal .proposal__img {
  margin-top: 22px;
  max-width: 100%;
}
.audience__proposal .proposal__title {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}
.audience__proposal .proposal:hover {
  color: #ffffff;
  background-color: #3141c5;
  cursor: pointer;
}
.audience__actions-btn {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .audience__actions-btn {
    width: 160px;
  }
}
.audience__learn-btn {
  margin-top: 12px;
  width: 100%;
  color: #000000;
}
@media screen and (min-width: 1400px) {
  .audience__learn-btn {
    margin-top: 0;
    margin-left: 10px;
    width: 158px;
  }
}

.order {
  padding: 50px 15px;
  text-align: center;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 73px 0 72px 0;
  }
}
.order__illustration {
  max-width: 100%;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    margin-right: 121px;
    max-width: 269px;
  }
}
.order__details {
  max-width: 555px;
}
.order__title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
}
@media screen and (min-width: 1400px) {
  .order__title {
    text-align: left;
  }
}
.order__text {
  margin: 18px 0 39px;
  font-size: 22px;
  line-height: 32px;
  text-align: left;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 40px;
  width: 100%;
  height: 48px;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email ::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .order__button {
    flex-shrink: 0;
    margin-top: 0;
    margin-left: 10px;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 1400px) {
  .order__terms {
    text-align: left;
  }
}
.order__terms-link {
  color: #3142c6;
}

.about {
  padding: 46px 15px;
  width: 100%;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    padding: 77px 130px 76px 130px;
    gap: 29px;
  }
}

.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}
.article__text {
  margin-bottom: 0;
  margin-top: 6px;
  font-size: 22px;
  line-height: 32px;
}
.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1140px;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.customers__item :last-child {
  border-right: none;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.features {
  display: flex;
  position: relative;
  padding: 76px 0 103px;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  display: flex;
  margin: auto;
  width: 1140px;
}
.features__column {
  width: 459px;
}
.features__column:last-child {
  margin: 8px;
}
.features__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.features__title {
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}
.features__description {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage-header {
  display: flex;
  margin-top: 42px;
  line-height: 42px;
}
.features__advantage-title {
  margin: 0;
  margin-left: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
}
.features__advantage-description {
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-item {
  display: flex;
  margin-top: 21px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
}
.features__advantage-item-text {
  margin-left: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
.features__left-decoration {
  position: absolute;
  top: 258px;
  height: 166px;
}
.features__banner {
  position: absolute;
  right: 0;
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  margin: 0;
  margin-top: 13px;
  font-size: 24px;
  line-height: 34px;
}
.tip__decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
}
.tip__image {
  margin-top: 29px;
}
.tip__image-caption {
  margin-top: 20px;
  max-width: 100%;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer__description {
  display: none;
  margin-top: 26px;
  width: 360px;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer__line {
  margin: 0;
  margin-top: 40px;
  border-top: 1px solid #2b292d;
  opacity: 0.1;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.about-company {
  margin-top: 44px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1019607843);
}
@media screen and (min-width: 1400px) {
  .about-company {
    padding-bottom: 0;
    border: none;
  }
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1140px;
    height: 338px;
  }
}

.downloads {
  display: flex;
  justify-content: center;
  margin: 25px 15px 0 15px;
}
@media screen and (min-width: 1400px) {
  .downloads {
    justify-content: left;
    margin: 0;
    margin-top: 25px;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
}
.nav-links__list {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
}
.nav-links__list-item {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
}
.nav-links__list-item:hover {
  text-decoration: underline;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    flex-direction: row;
    margin: 0 auto;
    width: 1140px;
    height: 50px;
    align-items: center;
  }
}

.terms {
  margin-top: 30px;
  font-size: 14px;
  line-height: 22px;
}
@media screen and (min-width: 1400px) {
  .terms {
    margin-top: 0;
    line-height: 50px;
  }
}
.terms__items {
  margin-right: 22px;
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .page {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1400px;
    min-height: 100vh;
  }
}

/*# sourceMappingURL=styles.css.map */
