.action-button {
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  background-color: $color-blue;
  color: $color-white;
  border-radius: 2px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.learn-btn {
  width: 158px; ///
  height: 48px; ///
  font-weight: 700; ///
  font-size: 18px; ///
  border-radius: 2px; ///
  border: none; ///
  background-color: $color-white; ///

  &:hover {
    cursor: pointer;
  }
}

.hide_desktop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}
